@model GreenTown.Domain.Entities.House

@{
    ViewBag.Title = "Green Town";
}

<div id="add_and_fot">
    <div id="addiction">
	    <div class="post">
		    <h2 class="title">GT News</h2>
		    <div class="story">
			    <p><strong>The Green Town</strong> opened school.</p>
		    </div>
		    <div class="meta">
			    <p class="date">Posted on February 9, 2015 by Vova</p>
		    </div>
	    </div>
        <div class="post">
            <div class="news">
		    <p>Riviera Villas and Green Town help children in need!</p>
            </div>
		    <div class="meta">
			    <p class="date">Posted on February 4, 2015 by Vova</p>
		    </div>
	    </div>
        <div class="post">
            <div class="news">
		    <p>Competition on the best Christmas decoration of the house </p>
		    </div>
            <div class="meta">
			    <p class="date">Posted on January 4, 2015 by Vova</p>
		    </div>
	    </div>
        <div class="post">
            <div class="news">
		    <p>Green Town was recognized best cottage community of the year!</p>
		    </div>
            <div class="meta">
			    <p class="date">Posted on January 1, 2015 by Vova</p>
		    </div>
	    </div>
        <div class="post">
            <div class="news">
		    <p>Saint Nicolas Day at Green Hills</p>
            </div>
		    <div class="meta">
			    <p class="date">Posted on December 22, 2015 by Vova</p>
		    </div>
	    </div>
        <div class="post">
            <div class="news">
		    <p>Kid's center "Vsesvit" invites you to a master class on making gingerbread houses </p>
            </div>
		    <div class="meta">
			    <p class="date">Posted on December 20, 2015 by Vova</p>
		    </div>
	    </div>
    </div>
		
    <div id="footer">
    <p id="brand">The Green Town</p>
    </div>
</div>
<div id="posts">
	<div class="post">
		<h2 class="title">About Green Town</h2>
		<div class="story">
			<p>Cottage community Green Hills is the first American town in Ukraine with fully operating social and engineering infrastructure created by British developer Dragon-Ukrainian Properties & Development. 
            The town is located in a green area near the village of Vita-Poshtova, 10 km apart from Kiev. It is surrounded by beautiful forest and three lakes. Joint barbecue with neighbors on weekends and family celebrations in warm and friendly atmosphere – that's what makes life here unique. A high level of comfort and service will make you forget about all daily 
            problems.
            </p>
		</div>
		<div class="meta">
			<p class="date">Posted on February 22, 2007 by Vova</p>
		</div>
	</div>
	<div class="post">
		<h2 class="title">Facts only</h2>
		<div class="story">
			<p>Today in Green Town:</p>
			<ul>
				<li>sold 60 households</li>
				<li>built 43 houses</li>
				<li>inhabited 32 houses</li>
			</ul>
			<p>At Green Town's residents disposal:</p>
			<ul>
				<li>24/7 service company and security</li>
				<li>Green Town Deli grocery store with summer terrace</li>
				<li>Private medical center</li>
                <li>Traditional American BBQ area</li>
                <li>Vivid kids' playground</li>
                <li>Three modern sport playgrounds: a universal playground for tennis, volleyball, mini-football, basketball, separate playground for beach volleyball and outdoor fitness court.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="date">Posted on January 1, 2015 by Vova</p>
		</div>
	</div>
</div>
<!-- end #posts -->
