@{
    ViewBag.Title = "Map";
}




<div id="infoList">
     <div class="post">
         

		<h2 class="title" onmouseover="tooltip(this,'Click on the circles with numbers of houses to watch House-info')" 
              onmouseout="hide_info(this)">
            Map

		</h2>
		<div class="story">
			<img src="/Images/map.png" width="500" height="500" alt="map"usemap="#townmap">

            <map name="townmap">
               <area shape="circle" coords="96,370,7" href="~/Home/List/1" alt="Home1">
               <area shape="circle" coords="129,367,7" href="~/Home/List/2" alt="Home2">
               <area shape="circle" coords="52,456,10" href="~/Home/List/3" alt="Home40">
            </map> 
		</div>
	</div>
</div>