@{
    ViewBag.Title = "SocialPrograms";
}


<div id="infoList">
    <div class="post">
		<h2 class="title">Social Programs</h2>
		<div class="story">
			<p>Today in Green Town:</p>
			<ul>
				<li>sold 60 households</li>
				<li>built 43 houses</li>
				<li>inhabited 32 houses</li>
			</ul>
			<p>At Green Town's residents disposal:</p>
			<ul>
				<li>24/7 service company and security</li>
				<li>Green Town Deli grocery store with summer terrace</li>
				<li>Private medical center</li>
                <li>Traditional American BBQ area</li>
                <li>Vivid kids' playground</li>
                <li>Three modern sport playgrounds: a universal playground for tennis, volleyball, mini-football, basketball, separate playground for beach volleyball and outdoor fitness court.</li>
			</ul>
            <p>You will not have to worry about the domestic and engineering systems, since Green Hills has already taken care of:</p>
			<ul>
				<li>Electric substation</li>
				<li>Gas supply system</li>
				<li>Сentralized potable water-supply system</li>
                <li>Centralized service utility water-supply system</li>
                <li>Centralized sewerage system</li>
                <li>Automatic watering system</li>
			</ul>
		</div>
	</div>
</div>