<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div id="header">
	<h1>The Green Town</h1>
	<h2>By Vladymyr Tkachenko</h2>
</div>
<!-- end #header -->
<div id="wrapper">
    <div  id="mess"></div>
    <div id="content">
	@RenderBody()
		<div id="links">
			    <h2>Menu</h2>
					<ul>
						<li><a href="~/Home/Index">Home</a></li>
						<li><a href="~/Home/About">About town</a></li>
						<li><a href="~/Home/Photo">Photo</a></li>
						<li><a href="~/Home/Map">Map</a></li>
						<li><a href="~/Home/SocialPrograms">Social programs</a></li>
                        <li onclick="javascript:Menu()" onload="javascript:CreateMenu()" onmouseover="tooltip(this,'Houses you can buy')" 
                            onmouseout="hide_info(this)">Houses</li>
                        <li>
                            <ul id="menu_1" style="display:none;">
                             
                            </ul>
                        </li>
					</ul>
		</div>
		<!-- end #links -->
		<div style="clear: both;">&nbsp;</div>
    </div>
<!-- end #content -->
</div>
    <script type="text/javascript">
        
        function CreateLiTag(id) {
            var li = document.createElement('div');
            li.innerHTML = '<li><a href="/Home/List/' + id + '">House ' + id + '</a></li>';
            
            
            return li.firstChild;
        }

        (function () {
            var menu = document.getElementById('menu_1');

            var houseArr = [1, 2, 3];
            for (var i = 0; i < houseArr.length; i++) {
                var li = CreateLiTag(houseArr[i]);

                if (i == 0) {
                    menu.appendChild(li);
                }
                else {
                    menu.insertBefore(li, menu.firstChild);
                }
            }
        })()

        
    </script>

    <script type="text/javascript">
            function Menu() {
            var menu = document.getElementById('menu_1').style;
            if (menu.display == 'none') {
                menu.display = 'block';
            }
            else {
                menu.display = 'none';
            }
        }
    </script>

    <script>
        var d = document;
        var offsetfromcursorY = 15 // y offset of tooltip
        var tipobj, op;

        function tooltip(el, txt) {
            tipobj = d.getElementById('mess');
            tipobj.innerHTML = txt;
            op = 0.1;
            tipobj.style.opacity = op;
            tipobj.style.visibility = "visible";
            el.onmousemove = positiontip;
            appear();
        }

        function hide_info(el) {
            d.getElementById('mess').style.visibility = 'hidden';
            el.onmousemove = '';
        }

       
        function positiontip() {
            var curX = event.clientX + d.body.scrollLeft;
            var curY = event.clientY + d.body.scrollTop;
            var winwidth = d.body.clientWidth; 
            var winheight = d.body.clientHeight;

            var rightedge =  winwidth - event.clientX ;
            var bottomedge = winheight - event.clientY - offsetfromcursorY;

            if (rightedge < tipobj.offsetWidth) tipobj.style.left = curX - tipobj.offsetWidth + "px";
            else tipobj.style.left = curX + "px";

            if (bottomedge < tipobj.offsetHeight) tipobj.style.top = curY - tipobj.offsetHeight - offsetfromcursorY + "px"
            else tipobj.style.top = curY + offsetfromcursorY + "px";
        }

        function appear() {
            if (op < 1) {
                op += 0.1;
                tipobj.style.opacity = op;
                tipobj.style.filter = 'alpha(opacity=' + op * 100 + ')';
                t = setTimeout('appear()', 30);
            }
        }


    </script>
</body>
</html>


